<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <div class="title justify-content-center">
        <button mat-icon-button (click)="inputSideNav.toggle()">
          <span class="icon-menu"></span>
        </button>
        <h5>Paiecash</h5>
      </div>
      <div class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
          <li>
            <button
              class="user mt-2 d-flex align-items-center" >
              <img src="./assets/about.png" alt="" class="user-image mr-1 p-2" />

              User Name
              <mat-icon class="user-image-icon ml-1">
                <i class="icon-inbox"></i>
                </mat-icon
              >
            </button>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
