<section id="about" class="container-fluid py-5">

  <div class="field d-flex mb-20 justify-content-between">

      <div class="a d-flex justify-content-center" (click)="backTolist()">
        <span class="material-icons">keyboard_arrow_left</span>
        <span>retour</span>
      </div>

    <div class="a d-flex justify-content-center">
      <span>historique</span>
      <span class="material-icons">keyboard_arrow_down</span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 ">
        <img class="img-fluid" src="assets/about.png" alt="Company Image">
        <div>
          <div class="field d-flex justify-content-between">
            <h3>Nom: </h3>
            <h3>Romaric</h3>
          </div>
          <div class="field d-flex justify-content-between">
            <h3>Phone: </h3>
            <h3>645696+9</h3>
          </div>
          <div class="field d-flex justify-content-between">
            <h3>Statut: </h3>
            <h3>Activer</h3>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-7">
        <h1 class="row align-items-center justify-content-center"><b>Informations sur le compte</b></h1>

        <div>
          <div class="field d-flex justify-content-between">
            <h3>Fun: </h3>
            <h3>Active</h3>
          </div>
          <div class="field d-flex justify-content-between">
            <h3>Cadeau: </h3>
            <h3>Non Active</h3>
          </div>
          <div class="field d-flex justify-content-between">
            <h3>Collector: </h3>
            <h3>Non Active</h3>
          </div>
          <div class="field d-flex justify-content-between">
            <h3>Dernière transaction: </h3>
            <h3>20/07/2021</h3>
          </div>
        </div>

        <div class="card-container">
          <button class="card card-small btn-sm depot"  tabindex="0">
            <span>Dépot</span>
          </button>

          <button class="card card-small btn retrait"  tabindex="0">
            <span>Retrait</span>
          </button>

        </div>
      </div>
    </div>

  </div>
</section>
