<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logoc.png" alt="Company Logo" />
    </div>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
 Home
    </a>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">
      <mat-icon>dashboard</mat-icon> Utilisateurs
    </a>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/revendeurs">
      <mat-icon>dashboard</mat-icon> Revendeurs
    </a>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/commerciaux">
      <mat-icon>dashboard</mat-icon> Commerciaux
    </a>
  </mat-nav-list>

